<%= @game.current_turn.name %> attacked <%= @game.other_turn.name %>
<br>
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>hp
<br>
<%= @game.current_turn.name %>'s turn
<form action='/play'>
  <input type='submit' value='OK'>
</form>
